.preview-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba($color-secondary-light, 0.3);
  z-index: 9997;
  justify-content: center;
  align-items: center;

  .preview-overlay__close {
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
  }
  .preview-overlay__close-icon {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 2rem;
    height: 2rem;
    z-index: 9998;
    cursor: pointer;
    fill: $color-background;
  }
  img {
    max-width: 90%;
    max-height: 90%;
    z-index: 9999;
  }
}
.carousel {
  --carousel-width: 800px;
  width: var(--carousel-width);
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media only screen and (max-width: 991px) {
    --carousel-width: 90vw;
    .carousel__preview {
      width: 100% !important;
      flex-direction: column;
      align-items: center;

      img {
        height: 300px;
        max-width: 100%;
      }
    }
  }
  .carousel__preview {
    margin: 0 0 1rem;
    width: calc(100% - 1rem);
    gap: 1rem;
    display: flex;
    justify-content: flex-start;

    img {
      height: 450px;
      max-width: 100%;
      object-fit: cover;
      cursor: pointer;
    }
    figcaption {
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
      flex-direction: column;

      p {
        width: 100%;
        margin: 0;
        padding: 0;
      }
    }
  }
  .carousel__nav {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 100%;
    overflow: hidden;

    // &::before,
    // &::after {
    //   z-index: 1;
    //   position: absolute;
    //   display: block;
    //   content: "";
    //   top: 0;
    //   height: 100%;
    //   width: calc(var(--carousel-width) / var(--amount-carousel-images) / 4);
    // }
    // &::before {
    //   left: 0;
    //   background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
    // }
    // &::after {
    //   right: 0;
    //   background: linear-gradient(to left, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
    // }
    .carousel__img {
      --image-sizing: calc(
        (var(--carousel-width) - (var(--amount-carousel-images) - 1) * 1rem) / var(--amount-carousel-images)
      );
      transform: translateX(calc(var(--carousel-width) * var(--slider-index) * -1 - var(--slider-index) * 1rem));
      transition: transform 0.3s ease-in-out;
      width: var(--image-sizing);
      height: var(--image-sizing);
      aspect-ratio: 1 / 1;
      cursor: pointer;
      margin-right: 1rem;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

      &.carousel__img--active::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: calc(100% - 2 * 0.2rem);
        height: calc(100% - 2 * 0.2rem);
        border: 0.2rem solid $color-accent;
      }
    }
    .carousel__button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 2.5rem;
      height: 2.5rem;
      cursor: pointer;
      z-index: 10;
      outline: none;
      border: none;
      background-position: center;
      background-size: 50%;
      background-repeat: no-repeat;
      background-color: rgba($color-background, 0.3);
      filter: invert(1);

      &:hover {
        background-color: rgba($color-background, 0.6);
      }
      &.carousel__button--prev {
        left: 0;
      }
      &.carousel__button--next {
        right: 0;
      }
    }
  }
  .carousel__page-indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    .carousel__page-indicator-dot {
      width: 0.5rem;
      height: 0.5rem;
      border-radius: 50%;
      border: 2px solid $color-accent;
      cursor: pointer;
      margin: 0.5rem;

      &.carousel__page-indicator-dot--active {
        background-color: $color-accent;
      }
    }
  }
}
