.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 48px;

  .site-content {
    .entry-title {
      font-size: $size-xxl;
      margin-bottom: 48px;
    }
  }
}
