main.page-design {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;

  section {
    &.hero-section {
      height: 750px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-position: center;
      background-size: cover;
      position: relative;

      span,
      h1 {
        width: fit-content;
        z-index: 2;
        color: $color-background;
      }
      span {
        font-size: $size-xl;
        font-weight: bold;
      }
      h1 {
        font-size: calc($size-md + $size-xxl);
      }
      .image-overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba($color-background, 0.2);
      }
    }
    &.content-section {
      width: calc(100% - 2 * $size-xl);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: $size-xl 0;
      padding: 0 $size-xl;

      @mixin content-section-title-left-right-styling {
        justify-content: center;
        align-items: flex-start;
        gap: $size-xxl;

        .content-section__content {
          width: 70%;
        }
        h2 {
          margin-bottom: 0;
          text-align: right;
        }
      }
      &.content-section--title-left {
        flex-direction: row;
        @include content-section-title-left-right-styling;
      }
      &.content-section--title-right {
        flex-direction: row-reverse;
        @include content-section-title-left-right-styling;
        text-align: left;
      }
      .content-section__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & > div {
          display: flex;
          justify-content: center;
          align-items: flex-start;
          flex-direction: column;
        }
      }
      h2 {
        margin-bottom: $size-lg;
      }

      @media only screen and (max-width: 991px) {
        &.content-section--title-left {
          flex-direction: column;
          align-items: center;
          gap: $size-md;
        }
        &.content-section--title-right {
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: $size-md;
        }
      }
    }
  }
}
