/* COLORS */
$color-primary: #9dd1de;
$color-secondary: #3a3a3a;
$color-accent: #fa1717;
$color-background: #ffffff;
$color-text: #000000;

/* SIZES */
$size-xxs: 0.25rem; // 4px
$size-xs: 0.5rem; // 8px
$size-sm: 0.75rem; // 12px
$size-md: 1rem; // 16px
$size-lg: 1.25rem; // 20px
$size-xl: 1.5rem; // 24px
$size-xxl: 2.5rem; // 40px

$button-border-radius: 5px;
$button-border-width: 2px;

/* BASIC STYLES */

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: $size-md;
  line-height: 1.5;
}

body {
  font-family: "Roboto", sans-serif;
  color: $color-text;
  background-color: $color-background;
}

/* WORDPRESS BLOCKS */

.site-header {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $size-lg $size-md;

  & > div {
    display: flex;
    flex-direction: row;
    align-items: center;

    ul {
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        margin-right: $size-md;
      }
    }
  }
}

.wp-block-button {
  a {
    background-color: $color-primary;
    color: $color-background;
    border: none;
    padding: $size-sm $size-xl;
    border-radius: $button-border-radius;
    text-transform: uppercase;
    font-weight: bold;
  }

  &.style-primary > a {
    background-color: $color-primary;
    color: $color-background;
  }

  &.style-secondary > a {
    background-color: $color-background;
    color: $color-secondary;
    border: $color-secondary solid $button-border-width;
  }

  &.style-transparent > a {
    background-color: transparent;
    color: $color-secondary;
  }

  &.style-plain > a {
    background-color: transparent;
    padding: 0;
    border-radius: 0;
    color: $color-secondary;
  }

  &.style-destructive > a {
    background-color: $color-accent;
    color: $color-background;
  }

  &.style-destructive-secondary > a {
    background-color: $color-background;
    color: $color-accent;
    border: $color-accent solid $button-border-width;
  }
}
